<script>
    const session = sessionStorage.getItem("login");
    //console.log(session);
    if (!session) {
        location.href = "/login";
    }
</script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
    <!-- <h1 class="bg-green-800 text-3xl font-bold underline">
        Home.
    </h1>
    <h3 ></h3>
    <a href="/testChangePage">testChangePage</a><br>
    <button onclick="logOutButton()">Logout</button><br>
    <script>
        //console.log("username :", sessionStorage.getItem("username").replace(/^firebaseAuth@/, ''));
        // Check if "googleLogin" is set in sessionStorage

    </script> -->

    <div id="topBar">
        <div id="topBarLogo">
            <p onclick="backHome()" style="cursor: pointer;">Chat.</p>
        </div>
        <div id="topBarDropdown">
            <img src="" alt="Flowers in Chania" id="imageUserTop" style="background-color: white;">
            <div id="topBarDropdownMenu">
                <div><img src="" alt="Flowers in Chania" id="image" style="background-color: white;">
                    <p id="username"></p>
                </div>
                <a href="/profile"><img src="/image/user_1144760.png" alt="">Profile</a>
                <a href="" onclick="logOutButton()"><img src="/image/logout_1828427.png" alt="">Logout</a>
            </div>
        </div>
    </div>
    <div id="line"></div>
    <div id="panel">
        <div id="panelMenu">
            <div id="panelMenuSearch">
                <input type="text" id="inputUsername" placeholder="Search room." oninput="searchRooms()">
                <!-- <button ><img src="/image/search_white.png" alt=""></button> -->
            </div>
            <div id="line"></div>
            <div id="panelMenuFriend">
                <!-- <a href="" id="panelMenuFriendChat"><img src="/image/bubble-chat.png" alt="" title="Chat">Chat</a> -->
                <a href="/addFriend" id="panelMenuFriendAddFriend"><img src="/image/add-user_white.png" alt=""
                        title="Add friend">Add
                    friend</a>
            </div>
            <div id="line"></div>
            <div id="panelMenuList">

            </div>
        </div>

        <div id="panelDetail">
            <div id="panelDetailEnabled">
                <div class="panelDetailUser">
                    <div class="panelDetailUserP">
                        <div class="imagePerson">
                            <img id="imagePerson" src="/image/user_1144760.png" alt="">
                        </div>
                        <div class="nameUser">
                            <div id="usernameFriend">username</div>
                            <div style="font-size: 16px;width: auto; display: none;color: gray;" id="blockDetail"></div>
                        </div>
                    </div>
                    <div class="panelDetailUserB" id="panelDetailUserBDiv">
                        <button id="panelDetailUserB" onclick="homeClickBlockFriend()">Block</button>
                        <button id="panelDetailUserUB" onclick="homeClickUnblockFriend()">Unblock</button>
                    </div>
                </div>
                <div id="panelDetailChat">
                </div>
                <div class="panelDetailMessage">
                    <!-- <input type="text"> -->
                    <textarea name="" id="myTextarea" oninput="checkInputMessage()"></textarea>
                    <button id="buttonSendMessage" onclick="homeClickSendMessage()" disabled><img src="/image/paper-plane.png"
                            alt=""></button>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascript/topmenu.js"></script>
    <script src="/javascript/getUserSession.js"></script>
    <script src="/javascript/getData.js"></script>
    <script src="/javascript/globalFuntion.js"></script>
    <script src="/javascript/chat.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>

        let socket;
        function logOutButton() {
            sessionStorage.clear()
            location.href = "/login";
        }


        document.addEventListener("DOMContentLoaded", async function () {
            setUpDataInHomePage();

            // let login = sessionStorage.getItem("login");
            // let googleLogin = sessionStorage.getItem("googleLogin");
            let userId = sessionStorage.getItem("userId")
            // let username = sessionStorage.getItem("username")
            // let email = sessionStorage.getItem("email")
            // let image = sessionStorage.getItem("image")
            // console.log("login :", login);
            // console.log("googleLogin :", googleLogin);
            console.log("My userId :", userId);
            // console.log("username :", username);
            // console.log("email :", email);
            // console.log("image :", image);
            await searchRooms();

            socket = io();

            socket.on('connect', async () => {
                const userId = sessionStorage.getItem('userId');
                if (userId) {
                    socket.emit('getUserIdConnect', userId);
                }
            });

            socket.on('sendAllUserIdConnectToUsers', (allUserIdWhoConnect) => {
                //console.log("allUserIdWhoConnect:",allUserIdWhoConnect);
                const listChatRooms = getAllListChatRoomUserHave();
                for (let index = 0; index < allUserIdWhoConnect.length; index++) {
                    const userIndex = listChatRooms.findIndex(friend => friend.id_user === parseInt(allUserIdWhoConnect[index].userIdConnect));
                    if (userIndex !== -1) {
                        const htmlElementShowActive = document.getElementById(`idFriend${allUserIdWhoConnect[index].userIdConnect}`);
                        if (htmlElementShowActive) {
                            htmlElementShowActive.style.backgroundColor = "green";
                        } else {
                            console.error("Element not found");
                        }
                    }
                }
                //console.log("userIdWhoConnect:",userIdWhoConnect);
            });

            socket.on('sendUserIdDisconnectToUsers', (userIdWhoConnect) => {
                const listChatRooms = getAllListChatRoomUserHave();

                const userIndex = listChatRooms.findIndex(friend => friend.id_user === parseInt(userIdWhoConnect));
                if (userIndex !== -1) {
                    const htmlElementShowActive = document.getElementById(`idFriend${userIdWhoConnect}`);
                    if (htmlElementShowActive) {
                        htmlElementShowActive.style.backgroundColor = "rgb(109, 109, 109)";
                    } else {
                        error("Element not found");
                    }
                }
            });

            socket.on('sendUserDataWhoHashBlockToUsers', (userIdWhoHashBlock) => {
                //console.log("userIdWhoHashBlock:", userIdWhoHashBlock);
                if (getCurrentSelectFriendId() === userIdWhoHashBlock.userIdWhoBlock && getCurrentIdUser() === userIdWhoHashBlock.userIdWhoHashBlock) {
                    hidBlockBottom();
                }
            });

            socket.on('sendUserDataWhoHashUnblockToUsers', (userIdWhoHashUnblock) => {
                //console.log("userIdWhoHashUnblock:", userIdWhoHashUnblock);
                if (getCurrentSelectFriendId() === userIdWhoHashUnblock.userIdWhoUnblock && getCurrentIdUser() === userIdWhoHashUnblock.userIdWhoHashUnblock) {
                    showBlockBottom();
                }
            });

            socket.on('sendNewDataMessageToUsers', (newMessage) => {
                //console.log("newMessage",newMessage);
                if (newMessage.userIdWhoSendMessage === getCurrentSelectFriendId() && newMessage.userIdWhoGetMessage === getCurrentIdUser()) {
                    addNewMessage(newMessage.userIdWhoSendMessage, newMessage.message);
                }

            })
        });

        async function homeClickBlockFriend() {
            const userWhoHasBlock = await blockFriend();
            //console.log("userWhoHasBlock:", userWhoHasBlock);
            if (userWhoHasBlock != null) {
                socket.emit('blockThisUser', userWhoHasBlock);
            }
        }

        async function homeClickUnblockFriend() {
            const userWhoHasUnblock = await unblockFriend();
            if (userWhoHasUnblock != null) {
                socket.emit('unblockThisUser', userWhoHasUnblock);
            }
        }

        async function homeClickSendMessage() {
            const dataMessage = await sendMessage();
            if (dataMessage != null) {
                socket.emit('sendMessage', dataMessage);
            }
        }


    </script>
</body>

</html>