<script>
    const session = sessionStorage.getItem("login");
    //console.log(session);
    if (session) {
        location.href = "/";
    }
</script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/output.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <script type="module" src="/javascript/loginByGoogle.js">

    </script>
</head>

<body>

    <!-- class="static flex flex-col justify-center w-screen h-screen" -->
    <div class="container-center">
        <!--<div class="w-48 h-48">
            <img src="http://localhost:8000/get/image/417248005_261253173511314_7451734521740611883_n.jpg" alt="">
        </div>-->
        <!-- Login  -->

        <!-- class="self-center flex flex-col border border-gray-400 p-5 min-w-fit  w-96" -->
        <div id="mainPanalLogin">
            <p style="font-size: larger;">Login</p>
            <p id="loginError">Username or password is not correct.</p>
            <!-- self-center border border-gray-400 py-4 w-2/3 -->
            <div class="boxInput">
                <label for="usernameInput">User name</label><br>
                <input type="text" id="usernameInput">
            </div>
            <div class="boxInput">
                <label for="passwordInput">Password</label><br>
                <input type="password" id="passwordInput">
            </div>
            <!-- flex flex-row justify-center text-center border border-gray-400 py-4 -->
            <div class="boxButtonLoginOrRegister">
                <button onclick="loginButton()">Login</button>
                <button onclick="openRegisterPenal()">Register</button>
            </div>
            <p>Or</p>
            <div class="boxButtonLoginOrRegister">
                <button id="googleSignInButton">Google</button>
            </div>
        </div>
        <!-- Register  -->
        <!-- class="absolute self-center flex flex-col border border-gray-400 p-5 min-w-fit w-96 bg-white hidden" -->
        <div id="panalRegister">
            <p style="font-size: larger;">Register</p>
            <div class="boxInput">
                <label for="usernameInputRe">User name</label><br>
                <p id="usernameInputReError">User name</p>
                <input type="text" title="Use a-zA-Z0-9 and _ only." id="usernameInputRe">
            </div>
            <div class="boxInput">
                <label for="passwordInputRe">Password</label><br>
                <p id="passwordInputReError">User name</p>
                <input type="password" id="passwordInputRe">
            </div>
            <div class="boxInput">
                <label for="emailInputRe">Email</label><br>
                <p id="emailInputReError">User name</p>
                <input type="email" id="emailInputRe">
            </div>
            <div class="boxButtonLoginOrRegister">
                <button onclick="registerButton()">Register</button>
            </div>
            <div class="closeButton">
                <button onclick="closeRegisterPenal()">X</button>
            </div>
        </div>
    </div>




    <!-- <br>
    <div class="border border-gray-400 p-4">
        <button class="border border-gray-400 mr-3" id="hidShow" onclick="toggleVisibility()">Hid</button>
    </div> -->

</body>

<script>
    function toggleVisibility() {
        const mainLoginDiv = document.getElementById("mainPanalLogin");
        const toggleButton = document.getElementById("hidShow");
        mainLoginDiv.classList.toggle("hidden");
        toggleButton.innerHTML = (toggleButton.innerHTML === 'Hid') ? 'Show' : 'Hid';
    }

    function openRegisterPenal() {
        const registerPanal = document.getElementById("panalRegister");
        registerPanal.style.display = "flex";
        resetValueInputRegister();
    }

    function closeRegisterPenal() {
        const registerPanal = document.getElementById("panalRegister");
        registerPanal.style.display = "none";
        resetValueInputRegister();
    }

    function resetValueInputRegister() {
        const username = document.getElementById('usernameInputRe');
        const password = document.getElementById('passwordInputRe');
        const email = document.getElementById('emailInputRe');
        username.value = '';
        password.value = '';
        email.value = '';
        hiddenAllRegisterErrorDisplay();
    }

    async function loginButton() {
        const username = document.getElementById('usernameInput').value;
        const password = document.getElementById('passwordInput').value;
        const loginError = document.getElementById('loginError');

        const data = {
            username: username,
            password: password
        };

        try {
            const response = await fetch('http://localhost:8000/loginRegister/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            const result = await response.json();
            //console.log(result);
            if (result.success) {
                loginError.style.display = "none"
                sessionStorage.setItem("login", true);
                sessionStorage.setItem("googleLogin", false);
                sessionStorage.setItem("userId", result.userId)
                sessionStorage.setItem("username", result.username)
                sessionStorage.setItem("email", result.email)
                sessionStorage.setItem("image", result.image)
                location.href = "/";
            } else {
                loginError.innerText = result.messageError;
                loginError.style.display = "block"
            }
        } catch (error) {
            console.log('Connection failed:', error.message);
        }
    }

    async function registerButton() {
        //console.log("registerButton");
        const username = document.getElementById('usernameInputRe');
        const password = document.getElementById('passwordInputRe');
        const email = document.getElementById('emailInputRe');
        hiddenAllRegisterErrorDisplay();

        const data = {
            username: username.value,
            password: password.value,
            email: email.value
        };

        if (!checkInputRegister(data)) {
            return;
        }

        //console.log(data);

        try {
            const response = await fetch('http://localhost:8000/loginRegister/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            const result = await response.json();
            //console.log(result);
            registerErrorDisplay(result);
            if (result.success) {
                closeRegisterPenal()
            }
        } catch (error) {
            console.log('Connection failed:', error.message);
        }
    }

    function checkInputRegister(data) {
        //console.log("data :", data);
        const usernameError = document.getElementById('usernameInputReError');
        const passwordError = document.getElementById('passwordInputReError');
        const emailError = document.getElementById('emailInputReError');
        let result = true; // Assume the input is invalid initially
        // Check if any input field is empty
        if (data.username === '') {

            usernameError.style.display = "block";
            usernameError.innerText = "Username is empty";

            result = false; // Set result to false if username is empty

        } else {
            console.log("data.username Pattern");
            const checkPattern = checkInputUsernamePatternRegister(data.username);
            if (!checkPattern) {
                usernameError.innerText = "Use a-zA-Z0-9 and _ only.";
                usernameError.style.display = "block";
                result = false; // Set result to false if username doesn't match the pattern
            }
        }

        if (data.password === '') {
            passwordError.innerText = "Password is empty";
            passwordError.style.display = "block";
            result = false; // Set result to false if password is empty
        }

        if (data.email === '') {
            emailError.innerText = "Email is empty";
            emailError.style.display = "block";
            result = false; // Set result to false if email is empty
        }

        return result; // Return the final result indicating input validity
    }

    function checkInputUsernamePatternRegister(username) {
        // Define a regular expression pattern
        const pattern = /^[a-zA-Z0-9_]+$/;

        // Test if the username matches the pattern
        const result = pattern.test(username);

        return result;
    }

    function registerErrorDisplay(result) {
        const usernameError = document.getElementById('usernameInputReError');
        const passwordError = document.getElementById('passwordInputReError');
        const emailError = document.getElementById('emailInputReError');
        if (result.messageUsernameError) {
            usernameError.innerText = result.messageUsernameError;
            usernameError.style.display = "block";

        }
        if (result.messagePasswordError) {
            passwordError.innerText = result.messagePasswordError;
            passwordError.style.display = "block";

        }
        if (result.messageEmailError) {
            emailError.innerText = result.messageEmailError;
            emailError.style.display = "block";

        }
    }

    function hiddenAllRegisterErrorDisplay() {
        const usernameError = document.getElementById('usernameInputReError');
        const passwordError = document.getElementById('passwordInputReError');
        const emailError = document.getElementById('emailInputReError');
        usernameError.style.display = "none";
        passwordError.style.display = "none";
        emailError.style.display = "none";
    }

</script>

</html>