<script>
    const session = sessionStorage.getItem("login");
    console.log(session);
    if (!session) {
        location.href = "/login";
    }
</script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/output.css" rel="stylesheet">
</head>

<body>
    <h1 class="bg-green-800 text-3xl font-bold underline">
        chat.
    </h1>
    <a href="/">index</a><br>

    <button onclick="logOutButton()">Logout</button><br>
</body>
<script>
    function logOutButton() {
        sessionStorage.clear()
        location.href = "/";
    }
</script>

</html>